<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palettizer</title>
    <style>
        .color-block {
          display: block;
          width: 20px;
          height: 20px;
        }
        .picture {
          max-width: 100%;
        }
    </style>
</head>
<body>

<img class="picture" src="data:image/{{ image['format'] }};base64,{{ image['base64'] }}">


<table>
    <tbody>
        <tr>
            <th>Color</th>
            <th>Name</th>
            <th>Area occupied, %</th>
        </tr>

        {% for id, item in colors.items() %}

        <tr>
            <td><div class="color-block" style="background-color: rgb{{ item['color']['color'] }}"></div></td>
            <td>{{ item["color"]["name"] }}</td>
            <td>{{ item["pixels"] }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>


</body>
</html>